# This is a comma separated list of paths to the local repositories
# of all the releases
export FISSILE_RELEASE="releases/nginx-release"

# Path to a role manifest
export FISSILE_ROLE_MANIFEST="configuration/role-manifest.yml"

# Path to a BOSH deployment manifest that contains light opinions
export FISSILE_LIGHT_OPINIONS="configuration/opinions.yml"

# Path to a BOSH deployment manifest that contains dark opinions
export FISSILE_DARK_OPINIONS="configuration/dark-opinions.yml"

# Path to a location where all fissile output is stored
export FISSILE_WORK_DIR="output/fissile"

# The image to use as the stemcell; note that the specific image here may be outdated
export FISSILE_STEMCELL="splatform/fissile-stemcell-opensuse:latest"

# Location to where the Helm Charts are created
export FISSILE_OUTPUT_DIR="output/helm"

# Name of the Docker namespace/organization to give to the Docker images
export FISSILE_DOCKER_ORGANIZATION="playground"

# Name of the Docker images prefix
export FISSILE_REPOSITORY="test"
